*
!*/
!.git*
!*.ass
!*.md
!*.txt
!*.xml
!*.mscx
!*.midicsv
!*.csv

# SubKt files
!build.gradle.kts
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle.kts
!sub.properties
!private.properties.sample
!gradle/wrapper/*
.gradle
